body, html {
    height: 60%;
    margin: 0;
    padding: 0;
    background: #FFF;
    color: #00c600;
    font-family: 'IBM PLEX MONO', monospace;
    line-height: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 5;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: left;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.control-link {
    color: #00c600;
    text-decoration: underline;
    cursor: none;
    font-family: inherit;
    font-size: 1em;
    transition: all 0.2s ease;
}

.control-link:hover {
    color: #00ff00;
}

input[type="file"] {
    display: none;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 2px;
    background: #00c600;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

input[type="range"]:hover {
    opacity: 5;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #00c600;
    cursor: none;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #00c600;
    cursor: none;
    border-radius: 50%;
}

.draggable {
    position: absolute;
    touch-action: none;
    user-select: none;
    z-index: 2;
}

.rotate-slow {
    transition: transform 0.3s ease;
}

.dragging, .draggable {
    cursor: none;
}

@keyframes dissolveRightToLeft {
    0% { clip-path: inset(0 0 0 0); }
    100% { clip-path: inset(100% 0 0 0); }
}

.dissolve-right-to-left {
    animation: dissolveRightToLeft 1.5s ease-in-out forwards;
}

.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    z-index: 1;
}

.background-image.selected {
    box-shadow: 0 0 10px 5px #00ff00;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00c600;
}

input:checked + .slider:before {
    transform: translateX(20px);
}
