:root {
  --primary-text: #1A1A1A;
  --highlight-blue: #4169FF;
  --background: #FFFFFF;
  --secondary-text: #424242;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--primary-text);
  line-height: 1.2;
}

.controls-panel {
  display: flex;
  align-items: center;
  background: #F8F8F8;
  padding: 0.5rem;
  gap: 1rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-right: 1rem;
}

.control-btn {
  padding: 0.5rem;
  background: var(--highlight-blue);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.control-btn:hover {
  background-color: #3551CC;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--highlight-blue);
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.toggle-label {
  font-size: 0.8rem;
  color: var(--secondary-text);
}

#backgroundUpload {
  font-size: 0.8rem;
}

#simulator-area {
  height: calc(100vh - 50px);
  position: relative;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
}

.draggable {
  position: absolute;
  cursor: move;
  z-index: 1;
  max-height: 40px;
  width: auto;
}     

  
.custom-file-upload {
  display: inline-block;
  padding: 0.5rem;
  background: var(--highlight-blue);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-file-upload:hover {
  background-color: #3551CC;
}

.truck-image {
  max-height: 80px;
  width: auto;
}

.forklift-image {
  max-height: 80px;
  width: auto;
}
